.header--menu{
    box-shadow: none;
}
.menu{
    width: 100%;
    & img{
        display: none;
    }
    & .bastille{
        @include menus-image(url('../images/restaurants/bastille.jpg'));
    }
    & .gourmand{
        @include menus-image(url('../images/restaurants/le_gourmand.jpg'));
    }
    & .full-palette{
        @include menus-image(url('../images/restaurants/the_full_palette.jpg'));
    }
    & .enchanted-plate{
        @include menus-image(url('../images/restaurants/the_enchanted_plate.jpg'));
    }
    &__carte{
        @include general-flex(column);
        margin-top: -50px;
        padding: 0 14px 80px 14px;
        background-color: $grey-background;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        & .fa-stack{
            vertical-align: top;
            padding: 0;
        }
        & .state2{
            color: rgba(0, 0, 0, 0);
        }
        & .fa-stack:hover{
            @include heart-hover;
        }  
        &__entrees{
            @include btn-plats-anim(0.5s);
        }
        &__plats{
            @include btn-plats-anim(1.5s);
        }
        &__dessert{
            @include btn-plats-anim(2.5s);
        }
        & .btn--main{
            margin-top: 50px;
            align-self: center;
        }
        & span{
            @include general-flex(row, space-between, center);
            padding-top: 36px;
        }
        & i{
            font-size: 1.4rem;
        }
        & p{
            margin-top: 45px;
            text-transform: uppercase;
        }
    }
}